nav{
    position: fixed;
    width: 100%; /* Full width */
    top: 0; /* Stick to the top */
    z-index: 1000;
    
    color: #0E0C31;
    text-align: center;
    font-family: "Montserrat Alternates";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.36px;

   
}

nav .resume-btn {
    color: #0E0C31 !important;
    text-align: center;
    font-family: "Montserrat Alternates" !important;
    font-size: 24px !important;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.36px;
}
/*Add gap between the navbar elements*/
.navbar-nav .nav-item {
    margin-right: 64px; /* Add space between the items */
}

.navbar-nav .nav-item:last-child {
    margin-right: 0; /* Remove the margin from the last item */
}


#hero{
    width: 100%;
    height: 768px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #EAE0F5 0%, rgba(215, 241, 113, 0.43) 100%);
}



.container-hero > h2 {
    font-family: "Lust" ;
    padding-left: 2%;
    font-size: 48px;
    
}

.container-hero > h4 {
    font-family: "Montserrat Alternates" ;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.72px;
    padding-top: 100px;
    font-size: 2em;
    
}

#about-me{
    width: 100%;
    height: 768px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #241535;
    
 
}

.container-about-me{
    margin-left: 50px;
    margin-right: 150px;
}

#about-me  h2 { 
    color: #EAE0F5;
    font-family:"Lust" ;
    font-size: 3em;
}



#about-me  p { 
    color: #E5F2C9;
    font-family:"Montserrat Alternates" ;
    font-size: 1.2em;
    width: 50%;
    margin-top: 50px;

}

#about-me img{
    height:600px;
    float: right;
}

#my-works  {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
 
   
    background: #F5FFCF6E;
}

#my-works >.container-my-works> h2{
color: #0E0C31;
text-align: center;
font-family: Lust;
font-size: 80px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -1.2px;
padding-top: 50px;
}

/* Basic reset */
body, h2, h3, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-my-works {
    max-width: 1200px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 2.5rem;
    text-transform: capitalize;
}

/*added initial card properties*/

#my-works .card h3{
    color: #000;
    text-align: center;
    font-family: Lust;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.9px;
}

.cards {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: space-between;
    margin-top: 50px;
}

.card {
    background: #f4f4f4;
    border-radius: 64px;
    overflow: hidden;
    width: calc(33.333% - 13.333px);
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s;
    
}

.card img {
    width: 412px;
    height: 281px;
    flex-shrink: 0;
}

.card h3 {
    margin: 20px;
    font-size: 0.75em;
}




.card:hover {
    transform: translateY(-10px);
}

/* Responsive Design */
@media (max-width: 900px) {
    .card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 600px) {
    .card {
        width: 100%;
    }
}


#contact{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    background: rgba(215, 241, 113, 0.43);
}

#contact > .container-contact > h2{
    color: #0E0C31;
    text-align: center;
    font-family: Lust;
    font-size: 5em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.2px;
    padding-top: 50px;
    }

#contact > .container-contact > p{
    color: #000;
    text-align: center;
    font-family: "Montserrat Alternates";
    font-size: 3em;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.96px;
    
}
#footer{
    background: #0E0C31;
    width: 100%;
    height:10vh;

    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
  
}

#footer >h2{
    color: #EAE0F5;
    text-align: center;
    font-family: "Montserrat Alternates";
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.6px;
    }